:root {
  --primary-color: #1B5696;
  --secondary-color: #06376A;
  --light-bg-color: #f5f5f5;
  --light-blue-color: #F0F8FF;
  --dark-grey-color: #212121;
  --light-grey-color: #BBBBBB;
  --white-color: #ffffff;
  --black-color: #000000;
  --green-color: #198754;
  --orange-color: #FF9E44;
  --red-color: #A40909;

  --cubic-bezier: cubic-bezier(0.68, -0.55, 0.27, 1.55);
}